<div class="container  row mt-4" *ngIf="member">
  <div class="col-4">
    <img src="{{member.photoUrl || './assets/user.png'}}" class="img-fluid rounded" alt="user image">
    <a href="#" class="btn btn-primary col-12 mt-1 p-0 main-green-color">Challenge</a>
    <a href="#" class="btn btn-primary col-12 mt-1 p-0">Message</a>
  </div>
  <div class="col-8">
    <h1>{{member.nickName}}</h1>
    <h6><strong>Gender: </strong>{{member.gender}}</h6>
    <h6><strong>Location: </strong>{{member.city}},{{member.country}}</h6>
    <h6><strong>Age: </strong>{{member.age}}</h6>
    <h6><strong>Sport played: </strong>{{member.sport}}</h6>
    <h6><strong>Experience playing: </strong>{{member.experience}}</h6>
    <h6><strong>Last time active: </strong>{{member.lastActive | timeago}}</h6>
    <h6><strong>User since: </strong>{{member.created | date}}</h6>
  </div>
</div>