<div class="container  row mt-4" *ngIf="member">
  <div class="col-4">
    <img src="{{member.photoUrl || './assets/user.png'}}" class="img-fluid rounded" alt="user image">
    <h1>{{member.nickName}}</h1>
    <h6><strong>Gender: </strong>{{member.gender}}</h6>
    <h6><strong>Location: </strong>{{member.city}},{{member.country}}</h6>
    <h6><strong>Age: </strong>{{member.age}}</h6>
    <h6><strong>Sport played: </strong>{{member.sport}}</h6>
    <h6><strong>Experience playing: </strong>{{member.experience}}</h6>
    <h6><strong>Last time active: </strong>{{member.lastActive | timeago}}</h6>
    <h6><strong>User since: </strong>{{member.created | date}}</h6>

  </div>

  <div class="col-8">
    <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>

  </div>

  <div class="col-12">
    <app-member-challenges [challenges]="challenges" [username]="member.username"></app-member-challenges>
  </div>


</div>