<div *ngIf="member">

  <div class="row mt-4">
    <div class="col-4">
      <div class="">
        <h3 class="mb-4">Your profile</h3>
        <div class="">
          <img src="{{member.photoUrl || './assets/user.png'}}" class="img-fluid rounded" alt="user image">
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="">
        <div class="alert alert-info" *ngIf="editForm.dirty">
          <strong>Info:</strong> You have changes. Unsaved changes will be lost
        </div>
      </div>
      <h1>{{member.nickName | titlecase}}</h1>
      <h6><strong>Username: </strong>{{member.username}}</h6>
      <h6><strong>Gender: </strong>{{member.gender | titlecase}}</h6>
      <h6><strong>Age: </strong>{{member.age}}</h6>
      <h6><strong>Last time active: </strong>{{member.lastActive | timeago}}</h6>
      <h6><strong>User since: </strong>{{member.created | date}}</h6>
      <h6><strong>Location: </strong>{{member.city}},{{member.country | titlecase}}</h6>
      <h6><strong>Sport played: </strong>{{member.sport | titlecase}}</h6>
      <h6><strong>Experience playing: </strong>{{member.experience}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm">
        <div class="form">
          <label for="city">City:</label>
          <input [(ngModel)]="member.city" type="text" name="city" class="form-control">
          <label for="country">Coutry:</label>
          <input [(ngModel)]="member.country" type="text" name="country" class="form-control">
          <label for="sport">Sport played:</label>
          <input [(ngModel)]="member.sport" type="text" name="sport" class="form-control">
          <label for="experience">Experience:</label>
          <input [(ngModel)]="member.experience" type="number" name="experience" class="form-control">
        </div>
      </form>
      <div class="mt-4">
        <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-primary col-12 mb-1">Save
          changes</button>
      </div>
    </div>
    <div class="col-7">
      <app-photo-editor [member]="member"></app-photo-editor>
    </div>
  </div>
</div>