.rounded{
  max-height: 40px;
}
.btn-danger {
  color: black;

}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #18bc9c;
  
}

.btn-success {
  background-color: green;
  color:black;
  box-shadow: none;
}
.btn-danger {
  background-color: red;
  color:black;
  box-shadow: none;
}

