<div class="row mb-4 mt-2">
  <div class="btn-group" name='container'>
    <button class="btn btn-primary" btnRadio='New' [(ngModel)]="container" (click)="loadChallenges()">New</button>
    <button class="btn btn-primary" btnRadio='Received' [(ngModel)]="container"
      (click)="loadChallenges()">Received</button>
    <button class="btn btn-primary" btnRadio='Sent' [(ngModel)]="container" (click)="loadChallenges()">Sent</button>
  </div>
</div>

<div class="row" *ngIf="challenges?.length === 0">
  <h3>You have no challenges</h3>
</div>

<div class="row align-items-center" *ngIf="challenges?.length > 0">
  <table class="table table-hover">
    <tr>
      <th style="width: 10%">Location</th>
      <th style="width: 10%">Sport</th>
      <th style="width: 20%">Date of event</th>
      <th style="width: 15%">From / To</th>
      <th style="width: 20%">Sent / Received</th>
      <th style="width: 15%">Answer </th>
      <!-- <th style="width: 20%">Delete </th> -->
    </tr>
    <tr [hidden]="loading" *ngFor="let challenge of challenges">


      <td>{{challenge.location}}</td>
      <td>{{challenge.sport}}</td>
      <td>{{challenge.eventDate | date:'dd/MM/yyyy hh:mm a'}}</td>
      <td
        routerLink='{{container === "Sent" ? "/members/" + challenge.recipientUsername : "/members/" + challenge.senderUsername}}'
        style="cursor: pointer;">
        <div *ngIf="container === 'Sent'">
          <img class="rounded mr-2" src="{{challenge.recipientPhotoUrl || './assests/user.png'}}"
            alt="{{challenge.recipientUsername}}">
          <strong>{{challenge.recipientUsername | titlecase}}</strong>

        </div>
        <div *ngIf="container !== 'Sent'">
          <img class="rounded mr-2" src="{{challenge.senderPhotoUrl || './assests/user.png'}}"
            alt="{{challenge.senderUsername}}">
          <strong>{{challenge.senderUsername | titlecase}}</strong>
        </div>
      </td>
      <td>{{challenge.challengeSent | timeago}}</td>

      <td *ngIf="challenge.answer === null && container != 'Sent'">
        <button type="button" class="btn btn-success m-2 p-2" name="accept" (click)="$event.stopPropagation()"
          (click)="updateChallenge(challenge.id, true)" btnRadio='lastActive'>Accept</button>
        <button type="button" class="btn btn-warning" name="decline" (click)="updateChallenge(challenge.id, false)"
          btnRadio='lastActive'>Decline</button>
      </td>
      <td *ngIf="challenge.answer === true">
        <p class="text-success">Accepted</p>
      </td>
      <td *ngIf="challenge.answer === false">
        <p class="text-danger">Declined</p>
      </td>
      <td *ngIf="challenge.answer === null && container == 'Sent'">
        <p class="text-info">Pending...</p>
      </td>
      <!-- <td>
        <button type="button" class="btn btn-danger m-2 p-2" (click)="$event.stopPropagation()" (click)="deleteChallenge(challenge.id)">Delete</button>
      </td> -->

    </tr>

  </table>
</div>


<div class="d-flex justify-content-center" *ngIf="pagination && !loading && challenges?.length > 0">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>