<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Sport<span class="main-text-color">Buddy</span>
    </a>



    <div class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink='/members' routerLinkActive='active'>Buddies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink='/messages' routerLinkActive='active'>Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink='/challenges' routerLinkActive='active'>Challenges</a>
          </li>
        </ng-container>
        <!-- <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink='/errors' routerLinkActive='active'>Errors</a>
        </li> -->


      </ul>
    </div>


    <div class="nav-item dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>

      <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img class="mr-1" src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
        Welcome {{user.nickName | titlecase}}

      </button>
      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
        <a routerLink='/member/edit' class="dropdown-item">Edit profile</a>
        <a class="dropdown-item" (click)="logout()">Logout </a>
      </div>
    </div>



    <form *ngIf="(accountService.currentUser$ | async) === null" class="d-flex " (ngSubmit)="login()"
      autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2 mr-2" type="text"
        placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2 mr-2" type="password"
        placeholder="Password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>

  </div>
</nav>