.dropdown-toogle, .dropdown-item {
  cursor: pointer;
}

.main-text-color {
  color: #18bc9c;
}

.dropdown-item:hover{
  background-color: #18bc9c;
}

img {
  max-height: 30px;
  display: inline;
  border-radius: 5px;
}